@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.about_us {
    width: 45%;
    padding-right: 2rem;
}


.about_us h2{
    font-weight: 500;
}

.img {
    width: 45%;
}

.contain_1 {
    width: 100%;
    display: flex;
    text-align: justify;
    height: auto;
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#cab3 {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%; /* Ensures the image does not exceed its container's width */
    max-height: 100%; /* Ensures the image does not exceed its container's height */
}

/* For tablets and smaller laptops */
@media only screen and (max-width: 768px) {
    .contain_1 {
        flex-direction: column;
        text-align: center;
    }

    .about_us, .img {
        width: 100%;
        padding: 0;
    }

    #cab3 {
        margin-top: 1rem;
        height: auto;
        max-width: 100%;
    }
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
    .contain_1 {
        margin-top: 3rem;
        flex-direction: column-reverse;
    }

    .about_us {
        font-size: 0.9rem;
    }

    #cab3 {
        width: 100%; /* Ensure full width on mobile */
        height: auto;
    }
}


.about_us p{
    text-align: justify;
}

.contain_2{
    text-align: center;

}


.about_para{
    text-align: justify;
    font-weight: 500;
}


*{
    
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}







.aboutt_main_second_div{
    width: 30%;
    
}
.aboutt_main_first_div{
    width: 70%;

}