/* Card image height for large screens (desktops and laptops) */
.card-img {
    height: 48rem;
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .card-img {
        height: 36rem; /* Adjust the image height for smaller screens */
    }
}

@media (max-width: 992px) {
    .card-img {
        height: 28rem; /* Further adjust the image height for tablets */
    }
}

@media (max-width: 768px) {
    .card-img {
        height: 20rem; /* Further adjust the image height for small tablets */
    }
}

@media (max-width: 576px) {
    .card-img {
        height: 15rem; /* Adjust the image height for mobile devices */
    }
}

/* General styles for the card container */
.card {
    border: none;
}

.card-body {
    text-align: center; /* Center the text for better visual appeal */
}

/* Full-width image card with overlay adjustments */
#card1 {
    margin-top: 20px;
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border: none;
}

#card1 .card-img {
    width: 100%;
    height: auto; /* Maintain the aspect ratio */
}


.tours_daily{
    margin-bottom: 1rem;
}


.cards_container_div{
    width: 100%;
}



.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.floatt{
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-floatt{
	margin-top:16px;
}

.fa-users{
    color: #059294;
}