.Routes_bg {
    height: 30rem;
    width: 100%;
    background-image: url("/src/Img/concerts.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    background-blend-mode: darken; /* Blends the overlay with the image */
}

@media only screen and (max-width: 1200px) {
    .Routes_bg {
        background-attachment: scroll; /* Change to scroll for better performance on smaller screens */
        height: 25rem;
    }
}

@media only screen and (max-width: 768px) {
    .Routes_bg {
        height: 20rem;
        background-position: top;
    }
}

@media only screen and (max-width: 576px) {
    .Routes_bg {
        height: 15rem;
        background-position: top;
    }
}

@media only screen and (max-width: 400px) {
    .Routes_bg {
        height: 12rem;
        background-position: top;
    }
}
.Routes_bg h1{
    padding-top: 10%;
}